@model TopDoket.DataLayer.Entities.User.User

<div style="direction: rtl; padding: 20px">
    <h2>@Model.UserName عزیز !</h2>
    <p>با تشکر از ثبت نام شما در تاپ لرن ، جهت ادامه کار میبایست حساب کاربری خود را فعال کنید</p>
    <p>
        <a href="https://localhost:44367/Account/ActiveAccount/@Model.ActiveCode">فعالسازی حساب کاربری</a>
    </p>
</div>
