<!DOCTYPE html>
<html class="no-js" dir="rtl" lang="fa-IR">
	<head>
		<meta charset="UTF-8">
		<title> تاپ لرن </title>
		<meta name="googlebot" content="index,follow">
		<meta name="robots" content="noodp,noydir">
		<meta name="apple-mobile-web-app-capable" content="yes" >
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap-rtl.min.css">
        <link rel="stylesheet" type="text/css" href="css/material-design-iconic-font.min.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
		<script src="js/jquery.min.js"></script>
	</head>
	<body>
    	<script src="js/modernizr-custom.js"></script>

        <div class="landing-layer">
            <div class="container">
                <nav>
                    <div class="row">
                        <div class="col-sm-6 col-xs-12">
                            <ul>
                                <li>
                                    <a href=""> همکاری در فروش </a>
                                    <a href=""> درباره ما </a>
                                    <a href=""> تماس با ما </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <div class="clientarea">
                                <div class="loggein ">
                                     <i class="zmdi zmdi-account"></i><a href=""> ایمان مدائنی ، خوش آمدی </a>
                                </div>
                                <div class="signin hidden">
                                    <i class="zmdi zmdi-account"></i>
                                    <a href=""> ورود </a> /
                                    <a href=""> عضویت </a>
                                </div>
                            </div>  
                        </div>
                    </div>
                </nav>
                <header>
                    <a href="" class="logo"><img src="images/logo.png"></a>
                    <h1> با اساتید مجرب و کارآزموده در خودآموز تاپ لرن </h1>
                    <h2> آموزش ببینید ، تجربه کسب کنید و بازار کار شوید </h2>
                    <h3> با کمترین هزینه خودت یاد بگیر </h3>
                </header>
                <div class="search-form">
                    <form>
                        <input type="text" name="" placeholder="چی دوست داری یاد بگیری ؟">
                        <button><i class="zmdi zmdi-search"></i></button>
                    </form>
                </div>
            </div>
        </div>

        <!-- main manu -->
        <div class="main-menu">
            <div class="container">
                <nav>
                    <span class="responsive-sign"><i class="zmdi zmdi-menu"></i></span>
                    <ul>
                        <li><a href=""> برنامه نویسی موبایل </a>
                            <ul>
                                <li><a href=""> زامارین  Xamarin </a></li>
                                <li><a href=""> react Native </a></li>
                            </ul>
                        </li>
                        <li><a href=""> برنامه نویسی وب </a>
                            <ul>
                                <li><a href=""> Asp.net WebForms </a></li>
                                <li><a href=""> Asp.net MVC </a></li>
                                <li><a href=""> PHP MVC </a></li>
                                <li><a href=""> PHP FrameWorks </a></li>
                                <li><a href=""> Asp.net Core </a></li>
                            </ul>
                        </li>
                        <li><a href=""> برنامه نویسی تحت ویندوز </a></li>
                        <li><a href=""> طراحی سایت </a>
                            <ul>
                                <li><a href=""> طراحی سایت </a></li>
                                <li><a href=""> Bootstrap </a></li>
                                <li><a href=""> Angular </a></li>
                                <li><a href=""> react </a></li>
                                <li><a href=""> Jquery </a></li>
                            </ul>
                        </li>
                        <li><a href=""> بانک های اطلاعاتی </a></li>
                        <li><a href=""> سئو </a></li>
                        <li><a href=""> سیستم عامل </a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- /main manu -->

        <!-- content -->
        <main id="home-page">
            <div class="container">
                <section class="terms-items">
                    <header>
                        <h2> آخرین دوره های تاپ لرن </h2>
                        <a href=""> مشاهده همه دوره ها </a>
                    </header>
                    <div class="row">
                        <!-- col -->
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
                            <article>
                                <a href="" class="img-layer"><img src="images/pic/1.jpg"></a>
                                <h2><a href=""> آموزش متریال دیاین در زامارین </a></h2>
                                <span> رایگان </span>
                                <i>1:52:32</i>
                            </article>
                        </div>    
                        <!-- /col -->
                        <!-- col -->
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
                            <article>
                                <a href="" class="img-layer"><img src="images/pic/2.jpg"></a>
                                <h2><a href=""> آموزش متریال دیاین در زامارین </a></h2>
                                <span> رایگان </span>
                                <i>1:52:32</i>
                            </article>
                        </div>    
                        <!-- /col -->
                        <!-- col -->
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
                            <article>
                                <a href="" class="img-layer"><img src="images/pic/3.jpg"></a>
                                <h2><a href=""> آموزش متریال دیاین در زامارین </a></h2>
                                <span> 150.000 تومان </span>
                                <i>1:52:32</i>
                            </article>
                        </div>    
                        <!-- /col -->
                        <!-- col -->
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
                            <article>
                                <a href="" class="img-layer"><img src="images/pic/4.jpg"></a>
                                <h2><a href=""> آموزش متریال دیاین در زامارین </a></h2>
                                <span> رایگان </span>
                                <i>1:52:32</i>
                            </article>
                        </div>    
                        <!-- /col -->
                        <!-- col -->
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
                            <article>
                                <a href="" class="img-layer"><img src="images/pic/5.jpg"></a>
                                <h2><a href=""> آموزش متریال دیاین در زامارین </a></h2>
                                <span> 15.000 تومان </span>
                                <i>1:52:32</i>
                            </article>
                        </div>    
                        <!-- /col -->
                        <!-- col -->
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
                            <article>
                                <a href="" class="img-layer"><img src="images/pic/6.jpg"></a>
                                <h2><a href=""> آموزش متریال دیاین در زامارین </a></h2>
                                <span> رایگان </span>
                                <i>1:52:32</i>
                            </article>
                        </div>    
                        <!-- /col -->
                        <!-- col -->
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
                            <article>
                                <a href="" class="img-layer"><img src="images/pic/7.jpg"></a>
                                <h2><a href=""> آموزش متریال دیاین در زامارین </a></h2>
                                <span> 20.000 تومان </span>
                                <i>1:52:32</i>
                            </article>
                        </div>    
                        <!-- /col -->
                        <!-- col -->
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
                            <article>
                                <a href="" class="img-layer"><img src="images/pic/8.jpg"></a>
                                <h2><a href=""> آموزش متریال دیاین در زامارین </a></h2>
                                <span> 75.000 تومان </span>
                                <i>1:52:32</i>
                            </article>
                        </div>    
                        <!-- /col -->
                    </div>
                </section>

                <hr>

                <section class="terms-items">
                    <header>
                        <h2> دوره های محبوب تاپ لرن </h2>
                        <a href=""> مشاهده همه دوره ها </a>
                    </header>
                    <div class="row">
                        <!-- col -->
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
                            <article>
                                <a href="" class="img-layer"><img src="images/pic/1.jpg"></a>
                                <h2><a href=""> آموزش متریال دیاین در زامارین </a></h2>
                                <span> رایگان </span>
                                <i>1:52:32</i>
                            </article>
                        </div>    
                        <!-- /col -->
                        <!-- col -->
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
                            <article>
                                <a href="" class="img-layer"><img src="images/pic/2.jpg"></a>
                                <h2><a href=""> آموزش متریال دیاین در زامارین </a></h2>
                                <span> رایگان </span>
                                <i>1:52:32</i>
                            </article>
                        </div>    
                        <!-- /col -->
                        <!-- col -->
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
                            <article>
                                <a href="" class="img-layer"><img src="images/pic/3.jpg"></a>
                                <h2><a href=""> آموزش متریال دیاین در زامارین </a></h2>
                                <span> 150.000 تومان </span>
                                <i>1:52:32</i>
                            </article>
                        </div>    
                        <!-- /col -->
                        <!-- col -->
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
                            <article>
                                <a href="" class="img-layer"><img src="images/pic/4.jpg"></a>
                                <h2><a href=""> آموزش متریال دیاین در زامارین </a></h2>
                                <span> رایگان </span>
                                <i>1:52:32</i>
                            </article>
                        </div>    
                        <!-- /col -->
                        <!-- col -->
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
                            <article>
                                <a href="" class="img-layer"><img src="images/pic/5.jpg"></a>
                                <h2><a href=""> آموزش متریال دیاین در زامارین </a></h2>
                                <span> 15.000 تومان </span>
                                <i>1:52:32</i>
                            </article>
                        </div>    
                        <!-- /col -->
                        <!-- col -->
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
                            <article>
                                <a href="" class="img-layer"><img src="images/pic/6.jpg"></a>
                                <h2><a href=""> آموزش متریال دیاین در زامارین </a></h2>
                                <span> رایگان </span>
                                <i>1:52:32</i>
                            </article>
                        </div>    
                        <!-- /col -->
                        <!-- col -->
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
                            <article>
                                <a href="" class="img-layer"><img src="images/pic/7.jpg"></a>
                                <h2><a href=""> آموزش متریال دیاین در زامارین </a></h2>
                                <span> 20.000 تومان </span>
                                <i>1:52:32</i>
                            </article>
                        </div>    
                        <!-- /col -->
                        <!-- col -->
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
                            <article>
                                <a href="" class="img-layer"><img src="images/pic/8.jpg"></a>
                                <h2><a href=""> آموزش متریال دیاین در زامارین </a></h2>
                                <span> 75.000 تومان </span>
                                <i>1:52:32</i>
                            </article>
                        </div>    
                        <!-- /col -->
                    </div>
                </section>
            </div>
        </main>
        <!-- /content -->

        <!-- footer -->
        <footer>
            <div class="top-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <section class="list">
                                <header><h4> دسترسی سریع</h4></header>
                                <ul>
                                    <li><a href="">مشاهده تمامی دوره ها</a></li>
                                    <li><a href="">قوانین خرید از سایت </a></li>
                                    <li><a href="">راهنمای خرید از سایت </a></li>
                                    <li><a href="">همکاری با تاپ لرن </a></li>
                                    <li><a href="">کسب درآمد از تاپ لرن </a></li>
                                    <li><a href="">ماهنامه طراحی وب</a></li>
                                </ul>
                            </section>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <section class="list">
                                <header><h4> دسترسی سریع</h4></header>
                                <ul>
                                    <li><a href="">مشاهده تمامی دوره ها</a></li>
                                    <li><a href="">قوانین خرید از سایت </a></li>
                                    <li><a href="">راهنمای خرید از سایت </a></li>
                                    <li><a href="">همکاری با تاپ لرن </a></li>
                                    <li><a href="">کسب درآمد از تاپ لرن </a></li>
                                    <li><a href="">ماهنامه طراحی وب</a></li>
                                </ul>
                            </section>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <section class="list">
                                <header><h4> دسترسی سریع</h4></header>
                                <ul>
                                    <li><a href="">مشاهده تمامی دوره ها</a></li>
                                    <li><a href="">قوانین خرید از سایت </a></li>
                                    <li><a href="">راهنمای خرید از سایت </a></li>
                                    <li><a href="">همکاری با تاپ لرن </a></li>
                                    <li><a href="">کسب درآمد از تاپ لرن </a></li>
                                    <li><a href="">ماهنامه طراحی وب</a></li>
                                </ul>
                            </section>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <section class="list">
                                <header><h4> دسترسی سریع</h4></header>
                                <ul>
                                    <li><a href="">مشاهده تمامی دوره ها</a></li>
                                    <li><a href="">قوانین خرید از سایت </a></li>
                                    <li><a href="">راهنمای خرید از سایت </a></li>
                                    <li><a href="">همکاری با تاپ لرن </a></li>
                                    <li><a href="">کسب درآمد از تاپ لرن </a></li>
                                    <li><a href="">ماهنامه طراحی وب</a></li>
                                </ul>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom-footer">
                <div class="container">
                    <p>
                        تمامی حقوق مادی و معنوی این قالب متعلق به <a href=""> تاپ لرن </a> می باشد و هرگونه کپی برداری و انتشار غیر مجاز پیگرد قانونی دارد .
                    </p>
                </div>
            </div>
        </footer>
        <!-- /footer -->

        <script src="js/bootstrap.min.js"></script>
	    <script src="js/script.js"></script>
	</body>
</html>
