<!DOCTYPE html>
<html class="no-js" dir="rtl" lang="fa-IR">
	<head>
		<meta charset="UTF-8">
		<title> تاپ لرن </title>
		<meta name="googlebot" content="index,follow">
		<meta name="robots" content="noodp,noydir">
		<meta name="apple-mobile-web-app-capable" content="yes" >
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap-rtl.min.css">
        <link rel="stylesheet" type="text/css" href="css/material-design-iconic-font.min.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
		<script src="js/jquery.min.js"></script>
	</head>
	<body>
    	<script src="js/modernizr-custom.js"></script>

        <div class="landing-layer">
            <div class="container">
                <nav>
                    <div class="row">
                        <div class="col-sm-6 col-xs-12">
                            <ul>
                                <li><a href=""> تاپ لرن </a></li>
                                <li><a href=""> همکاری در فروش </a></li>
                                <li><a href=""> درباره ما </a> </li>
                                <li><a href=""> تماس با ما </a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <div class="clientarea">
                                <div class="loggein ">
                                     <i class="zmdi zmdi-account"></i><a href=""> ایمان مدائنی ، خوش آمدی </a>
                                </div>
                                <div class="signin hidden">
                                    <i class="zmdi zmdi-account"></i>
                                    <a href=""> ورود </a> /
                                    <a href=""> عضویت </a>
                                </div>
                            </div>  
                        </div>
                    </div>
                </nav>
            </div>
        </div>

        <!-- main manu -->
        <div class="main-menu">
            <div class="container">
                <nav>
                    <span class="responsive-sign"><i class="zmdi zmdi-menu"></i></span>
                    <ul>
                        <li><a href=""> برنامه نویسی موبایل </a>
                            <ul>
                                <li><a href=""> زامارین  Xamarin </a></li>
                                <li><a href=""> react Native </a></li>
                            </ul>
                        </li>
                        <li><a href=""> برنامه نویسی وب </a>
                            <ul>
                                <li><a href=""> Asp.net WebForms </a></li>
                                <li><a href=""> Asp.net MVC </a></li>
                                <li><a href=""> PHP MVC </a></li>
                                <li><a href=""> PHP FrameWorks </a></li>
                                <li><a href=""> Asp.net Core </a></li>
                            </ul>
                        </li>
                        <li><a href=""> برنامه نویسی تحت ویندوز </a></li>
                        <li><a href=""> طراحی سایت </a>
                            <ul>
                                <li><a href=""> طراحی سایت </a></li>
                                <li><a href=""> Bootstrap </a></li>
                                <li><a href=""> Angular </a></li>
                                <li><a href=""> react </a></li>
                                <li><a href=""> Jquery </a></li>
                            </ul>
                        </li>
                        <li><a href=""> بانک های اطلاعاتی </a></li>
                        <li><a href=""> سئو </a></li>
                        <li><a href=""> سیستم عامل </a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- /main manu -->

        <div class="container">
            <nav aria-label="breadcrumb">
              <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">تاپ لرن</a></li>
                <li class="breadcrumb-item active" aria-current="page">عضویت در سایت</li>
              </ul>
            </nav>
        </div>

        <main class="client-page">
            <div class="container-content">

                <header><h2> عضویت در سایت </h2></header>

                <div class="form-layer">

                    <form action="" method="">

                        <div class="input-group">
                            <span class="input-group-addon" id="username"><i class="zmdi zmdi-account"></i></span>
                            <input type="text" class="form-control" placeholder="نام و نام خانوادگی" aria-describedby="username">
                        </div>

                        <div class="input-group">
                            <span class="input-group-addon" id="email-address"><i class="zmdi zmdi-email"></i></span>
                            <input type="text" class="form-control" placeholder="ایمیل" aria-describedby="email-address">
                        </div>

                        <div class="input-group">
                            <span class="input-group-addon" id="password"><i class="zmdi zmdi-lock"></i></span>
                            <input type="text" class="form-control" placeholder="رمز عبور " aria-describedby="password">
                        </div>

                        <div class="accept-rules">
                            <label><input type="checkbox" name="">  قوانین و مقررات سایت را میپذیرم </label>
                        </div>

                        <div class="link">
                            <a href=""> <i class="zmdi zmdi-assignment"></i> قوانین و مقررات سایت !</a>
                            <a href=""> <i class="zmdi zmdi-account"></i> ورود به سایت </a>
                        </div>
                        
                        <button class="btn btn-success"> عضویت در سایت </button>

                    </form>
                </div>

            </div>
        </main>

        <!-- footer -->
        <footer>
            <div class="top-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <section class="list">
                                <header><h4> دسترسی سریع</h4></header>
                                <ul>
                                    <li><a href="">مشاهده تمامی دوره ها</a></li>
                                    <li><a href="">قوانین خرید از سایت </a></li>
                                    <li><a href="">راهنمای خرید از سایت </a></li>
                                    <li><a href="">همکاری با تاپ لرن </a></li>
                                    <li><a href="">کسب درآمد از تاپ لرن </a></li>
                                    <li><a href="">ماهنامه طراحی وب</a></li>
                                </ul>
                            </section>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <section class="list">
                                <header><h4> دسترسی سریع</h4></header>
                                <ul>
                                    <li><a href="">مشاهده تمامی دوره ها</a></li>
                                    <li><a href="">قوانین خرید از سایت </a></li>
                                    <li><a href="">راهنمای خرید از سایت </a></li>
                                    <li><a href="">همکاری با تاپ لرن </a></li>
                                    <li><a href="">کسب درآمد از تاپ لرن </a></li>
                                    <li><a href="">ماهنامه طراحی وب</a></li>
                                </ul>
                            </section>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <section class="list">
                                <header><h4> دسترسی سریع</h4></header>
                                <ul>
                                    <li><a href="">مشاهده تمامی دوره ها</a></li>
                                    <li><a href="">قوانین خرید از سایت </a></li>
                                    <li><a href="">راهنمای خرید از سایت </a></li>
                                    <li><a href="">همکاری با تاپ لرن </a></li>
                                    <li><a href="">کسب درآمد از تاپ لرن </a></li>
                                    <li><a href="">ماهنامه طراحی وب</a></li>
                                </ul>
                            </section>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <section class="list">
                                <header><h4> دسترسی سریع</h4></header>
                                <ul>
                                    <li><a href="">مشاهده تمامی دوره ها</a></li>
                                    <li><a href="">قوانین خرید از سایت </a></li>
                                    <li><a href="">راهنمای خرید از سایت </a></li>
                                    <li><a href="">همکاری با تاپ لرن </a></li>
                                    <li><a href="">کسب درآمد از تاپ لرن </a></li>
                                    <li><a href="">ماهنامه طراحی وب</a></li>
                                </ul>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom-footer">
                <div class="container">
                    <p>
                        تمامی حقوق مادی و معنوی این قالب متعلق به <a href=""> تاپ لرن </a> می باشد و هرگونه کپی برداری و انتشار غیر مجاز پیگرد قانونی دارد .
                    </p>
                </div>
            </div>
        </footer>
        <!-- /footer -->

        <script src="js/bootstrap.min.js"></script>
	    <script src="js/script.js"></script>
	</body>
</html>
